.h1{
    /* display: contents; */

}
.row{

    margin: auto;
    margin-top: 25px;
    font-size: larger;
    color: greenyellow  ;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    /* background: purple; */
}


.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.leftbutton{
margin-right: auto;
    margin-left: 25px;
    color: black;

}
button{
    background: palegoldenrod;
    height: 30px;
    padding: 5px;
    margin: 25px;
    border: 0px;
    font-weight: bold;
    
}

.rightbutton{
 margin-left: auto;
 margin-right: 25px;

}