.navbar{
background-color:transparent;
height: 55px;
color: white;
text-align: center;
text-justify: center;
font-size: larger;
display: flex;
justify-content: space-around;
justify-items: center;
text-align: justify;
box-shadow: -9px -2px 13px 0px red;
}

.left{

margin-right: auto;
font: 100;
color: whitesmoke;
margin-top: 15px;
margin-left: 9px;


}
.search{
   margin-left: auto;
   margin-top: 10px;
   margin-right: 10px;
   border: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

