input{

    background-color:transparent;
    color:  white;
    font-weight: bold;
    padding: 10px;
   text-align: center;
   width: 300px;
   border: 0px;
   border-radius: 2px;
   border: 2px solid red;
   
   


}


::placeholder{

color: whitesmoke;
font-weight: bold;
padding: 0%;


}




