.Details-container{
 display: flex;
    
}


.spin-container{
display: flex;
align-content: center;
justify-content: center;
margin-top: 5%;

    
}

.Details-container img{
    margin: 87px 18px 12px 98px;
    height: 300px;
    transition: 0.4s;
    rotate: -2deg ;

}
.Details-container img:hover{
    rotate: 2deg ;

}

.data-char{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 150px 18px 12px 20px;
  
}

.data-char h2{

    color: red;
    font-weight: bolder;
}
.data-char h3 {
    margin-top: 20px;
     text-align: left;
}